@media (max-width: 991px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .consultation {
        .container {
            margin-left: 30px;
            .title {
                font-size: 30px;
            }
            .consultation__desc {
                font-size: 19px;
            }
            .feed-form {
                width: 280px;
                input {
                    height: 50px;
                }
            }
        }
    }
    .carousel {
        overflow-x: hidden;
        &__inner {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                width: 60%;
            }
            .slick-dots {
                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: wrap;
                margin-right: 40px;
                margin-top: 30px;
                li {
                    padding-left: 10px;
                    list-style-type: none;
                    :first-child {
                        padding-left: 0;
                    }
                    button {
                        border-radius: 8px;
                        border: none;
                        background-color: red;
                        width: 100px;
                        height: 30px;
                        &:active, &:focus-within {
                            background-color: transparent;
                            border: 1px solid #000;
                            transition: 0.3s
                        }
                        &:hover {
                            transition: 1s;
                            background-color: blue;
                        }
                    }
                }
            }
        }
    }
    .catalog {
        .catalog__content {
            justify-content: center;
        }
        .catalog-item {
            margin-right: 10px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    .clients {
        .clients__main_massage {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
            .clients__main_massage_img {
                margin-right: 0;
                margin-top: 40px;
            }
            .clients__main_massage_img_modificate {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__wrapper {
            align-items: center;
            .promo__link {
                a:hover {
                    transition: none;
                    color: hsl(0, 0%, 100%);
                    text-decoration: underline;
                }
            }
        }
        header {
            .header_phone {
                font-size: 16px;
                &:hover, &:active {
                    color: hsl(0, 0%, 100%);
                    transition: none;
                }   
            }
            .header__official {
                font-size: 11px;
                span {
                    font-size: 14px;
                }
            }
        .promo__link {
            a:hover {
                transition: none;
                color: hsl(0, 0%, 100%);
                text-decoration: underline;
            }
        }
    }
}
    .second {
        &__icon {
            width: 195px;
            .health__text {
                font-size: 12px;
                a:hover, a:active {
                    color: #FF0000;
                    transition: none;
                    text-decoration: underline;
                }
            }
            .health__text__main {
                font-size: 16px;
            }
        }
    }
    .consultation {
        .container {
            margin-left: 0;
            .title {
                text-align: center;
                font-size: 20px;
                line-height: 49px;
            }
            .consultation__desc {
                text-align: center;
                font-size: 17px;
            }
            .feed-form {
                margin: 0 auto;
                margin-top: 15px;
                .button__submit {
                    height: 55px;
                    &:hover {
                        background-color: #c70101;
                    }
                    &:active {
                        background-color: #c70101;
                    }
                }
            }
        }
    }
    .carousel {
        overflow-x: hidden;
        &__inner {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                width: 50%;
                transform: translateX(-22%);
            }
            .slick-dots {
                position: relative;
                display: flex;
                justify-content: center;
                flex-direction: wrap;
                margin-top: 30px;
                margin-right: 210px;
                li {
                    padding-left: 10px;
                    list-style-type: none;
                    :first-child {
                        padding-left: 0;
                    }
                    button {
                        border-radius: 8px;
                        border: none;
                        background-color: red;
                        width: 100px;
                        height: 30px;
                        &:active, &:focus-within {
                            background-color: transparent;
                            border: 1px solid #000;
                            transition: 0.3s
                        }
                        &:hover {
                            transition: 1s;
                            background-color: blue;
                        }
                    }
                }
            }
        }
    }
    .clients {
        .clients__main_massage {
            .clients__main_massage_block {
                width: 400px;
            }
        }
    }
    .footer {
        .footer__phone {
            &:hover {
                color: #fff;
            }
            &:active {
                color: #fff;
            }
        }
    }
    .button {
        &:hover {
            background-color: #C70101;
        }
        &:active {
            background-color: #C70101;
        }
        .button__submit {
            &:hover {
                background-color: #C70101;
            }
            &:active {
                background-color: #C70101;
            }
        }
    }   
}
    
@media (max-width: 575px) {
        .promo {
            overflow-x: hidden;
            header {
                flex-direction: column;
                .header_phone {
                    margin-top: 10px;
                    &:hover, &:active {
                        color: hsl(0, 0%, 100%);
                        transition: none;
                    }   
                }
                .button {
                    margin-top: 10px;
                }
            }
            &__wrapper {
                margin-top: 70px;
                .promo__header {
                    text-align: center;
                    font-size: 35px;
                }
                .promo__subheader {
                    text-align: center;
                    font-size: 20px;
                }
                .promo__icons {
                    flex-direction: column;
                    align-items: center;
                    .promo__icon {
                        margin-top: 20px;
                        &:first-child {
                            margin-top: 0px;
                        }
                    }
                }
                .promo__link {
                    a:hover {
                        transition: none;
                        color: hsl(0, 0%, 100%);
                        text-decoration: underline;
                    }
                }
            }
        }
        .second {
            .text__main {
                font-size: 28px;
            }
            &__icons {
                display: flex;
                flex-direction: column;
                align-items: center;
                &__icon {
                    .health__text {
                        a:hover, a:active {
                            color: #FF0000;
                            transition: none;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .xs-hidden {
            display: none;
        }
        .consultation {
            min-height: 640px;
            padding: 80px 0 92px 0;
            .container {
                .consultation__desc {
                    font-size: 15px;
                }
                .feed-form {
                    width: 260px;
                    input {
                        height: 45px;
                    }
                .button__submit {
                    height: 50px;
                }
                }
            }
        }
        .carousel {
            overflow-x: hidden;
            &__inner {
                position: relative;
                img {
                    position: relative;
                    margin: 0 auto;
                    width: 40%;
                    transform: translateX();
                }
                .slick-dots {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 30px;
                    margin-right: 210px;
                    li {
                        margin-top: 10px;
                        padding-left: 10px;
                        list-style-type: none;
                        :first-child {
                            padding-left: 0;
                        }
                        button {
                            border-radius: 8px;
                            border: none;
                            background-color: red;
                            width: 100px;
                            height: 30px;
                            &:active, &:focus-within {
                                background-color: transparent;
                                border: 1px solid #000;
                                transition: 0.3s
                            }
                            &:hover {
                                transition: 1s;
                                background-color: blue;
                            }
                        }
                    }
                }
            }
        }
        .catalog {
            .catalog__tabs {
                flex-direction: column;
                .catalog__tab {
                    margin-top: 10px;
                }
            }
            .tittle {
                font-size: 25px;
            }
        }
        .clients {
            .tittle {
                font-size: 28px;
            }
            .clients__main_massage {
                .clients__main_massage_block {
                    width: 300px;
                }
            }
        }
        .footer {
            .footer__info {
                .footer__addr {
                    font-size: 15px;
                    font-weight: 500;
                }
                .footer__phone {
                    font-size: 18px;
                }
            }
        }
        #consultation {
            width: 270px;
            .feed-form {
                width: 198px;
                input {
                    height: 40px;
                }
            }
            .modal__close {
                top: 8px;
                right: 10px;
            }
            .modal__subtitle {
                font-size: 16px;
            }
        }
        #order {
            width: 270px;
            .feed-form {
                width: 198px;
                input {
                    height: 50px;
                }
            }
            .modal__close {
                top: 8px;
                right: 10px;
            }
            .modal__subtitle {
                font-size: 16px;
            }
            .button__submit {
                height: 50px;
            }
        }
    }
// No standart width
@media (max-width: 500px) {
    .carousel {
        overflow-x: hidden;
        &__inner {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                width: 40%;
                transform: translateX(-42%);
            }
        }
    }
}    
@media (max-width:450px) {
    .footer {
        .footer__info {
            width: 400px;
        }
    }
    .carousel {
        overflow-x: hidden;
        &__inner {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                width: 40%;
                transform: translateX(-53%);
            }
        }
    }
}

@media (max-width: 400px) {
    .footer {
        .footer__info {
            width: 305px;
            .footer__addr {
                font-size: 15px;
                font-weight: 500;
            }
            .footer__phone {
                font-size: 18px;
            }
        }
    }
    .carousel {
        overflow-x: hidden;
        &__inner {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                width: 40%;
                transform: translateX(-60%);
            }
        }
    } 
}
@media (max-width: 360px) {
    .carousel {
        overflow-x: hidden;
        &__inner {
            position: relative;
            img {
                position: relative;
                margin: 0 auto;
                width: 40%;
                transform: translateX(-75%);
            }
        }
    }
}
@media (max-height: 400px) {
    #consultation {
        min-height: 300px;
        padding: 30px 40px 23px 40px;
        .feed-form_mt25 {
            margin-top: 10px;
            input {
                height: 28px;
            }
        }
        .modal__close {
            top: 8px;
            right: 10px;
        }
        .modal__subtitle {
            font-size: 14px;
        }
        .modal__descr {
            font-size: 12px;
        }
        .button__submit {
            height: 36px;
            font-size: 13px;
        }
    }
    #order {
        min-height: 300px;
        padding: 30px 40px 23px 40px;
        .feed-form_mt25 {
            margin-top: 10px;
            input {
                height: 28px;
            }
        }
        .modal__close {
            top: 8px;
            right: 10px;
        }
        .modal__subtitle {
            font-size: 14px;
        }
        .modal__descr {
            font-size: 12px;
        }
        .button__submit {
            height: 36px;
            font-size: 13px;
        }
    }
}
@media (max-height: 270px) {
    #consultation {
        min-height: 260px;
        padding: 17px 40px 10px 40px;
        .feed-form_mt25 {
            margin-top: 10px;
            input {
                height: 22px;
            }
        }
        .modal__close {
            top: 8px;
            right: 10px;
        }
        .modal__subtitle {
            font-size: 14px;
        }
        .modal__descr {
            font-size: 12px;
        }
        .button__submit {
            height: 30px;
            font-size: 13px;
        }
    }
    #order {
        min-height: 234px;
        padding: 17px 40px 10px 40px;
        .feed-form_mt25 {
            margin-top: 10px;
            input {
                height: 22px;
            }
        }
        .modal__close {
            top: 8px;
            right: 10px;
        }
        .modal__subtitle {
            font-size: 14px;
        }
        .modal__descr {
            font-size: 12px;
        }
        .button__submit {
            height: 30px;
            font-size: 13px;
        }
    }
}